.idea/
.vscode/

bin/
config.yaml

wire_gen.go

data/log/
data/

node_modules/

/web/cypress/videos/

/web/cypress/screenshots/

*.timestamp-*-*.mjs

test-results/
playwright-report/

dist
dist-ssr

.env.development
.env.production